<div
  class="h-[99vh] overflow-y-scroll"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
    @for (video of videos; track video.id) {
      <mat-card class="drop-shadow-sm cursor-pointer aspect-[16/9] flex flex-col rounded-sm"
                (click)="redirectToVideo(video.uuid)">
        <div class="relative w-full aspect-[16/9] rounded-md p-1">
          @if (video.thumbnail) {
            <img
              mat-card-image
              [src]="getThumbnailSrc(video.thumbnail)"
              [alt]="video.title"
              class="object-cover absolute inset-0 w-full h-full"
            />
          } @else {
            <div class="absolute inset-0 flex items-center justify-center bg-gray-100 text-gray-500">
              No thumbnail available
            </div>
          }
        </div>

        <mat-card-content class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{ video.title }}</h3>
          <p class="text-md truncate">{{ video.description }}</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
